# Created by Vercel CLI
GOOGLE_CLIENT_ID=596208471680-r8inncm0dj4n80e4n1iih8ehu49f2uto.apps.googleusercontent.com
JWT_SECRET=replace-with-a-secure-random-string-at-least-32-chars
DATABASE_URL="mongodb+srv://test:test@cluster0.inigqvl.mongodb.net/pesanku?retryWrites=true&w=majority"
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=vinalopyu9@gmail.com
EMAIL_PASS=xgwb uisw jnmz kmue